-# types/ edit.html.haml
-# Changing the title or color of the type
-# render form from types/_form.html.haml

.card.pb-2.px-2
  .card-body
    %h3.card-title.text-center.mb-3 Edit Type
    = render 'form'