.card.pb-2.px-2
  .card-body
    %h3.card-title.text-center.mb-3 About the System
    Welcome to the Luhmann’s Slip-box Note Taking System. This is a note-taking system inspired by Niklas Luhmann’s method of taking notes, which involves writing ideas down onto cards, and organising and connecting them together in threads that can branch out into a network of interconnected ideas. The main benefits of this note-taking method are that you increase your understanding of the connections between notes, as you have to focus on where the best place is to add a new note so that it fits most appropriately with the already existing notes, which reinforces the connection in your mind.

    %h5
    %h5 References
    When visiting the References Page, you’re presented with a list of your saved References. From here, you can edit and delete existing References, as well as create new ones.

    %h5
    %h5 Types
    When visiting the Types Page, you’re presented with a list of your current note Types, these can be customised with a name and a colour to make it stand out. From here, you can create, edit and delete Types.

    %h5
    %h5 Tags
    When visiting the Tags Page, you’re presented with a list of your current Tags, which can be used to show that a note belongs to a certain topic. These simply contain a name, but multiple Tags can be applied to a single note, to allow for more precise searching of notes. From here, you can create, edit and delete Tags.

    %h5
    %h5 Dashboard
    After logging into the system, you’re presented with a Dashboard with which you can interact with your notes. From here, you can search through your notes by using keywords that appear in the titles of your notes, as well as by Tags and/or References. You can also look through the current thread and see the Branch Navigator. From here you can look at any of these notes in more detail or visit any other page.

    %h5
    %h5 Search Bar 
    The Search Bar allows you to filter all your notes by making you select a Tag, a Reference and a Keyword, fill in any of these values and then press Search. The results are ordered by last-edit. To see all your notes just leave the fields empty and press Search.

    %h5
    %h5 Thread Navigator
    The second stripe on your Dashboard is the Thread Navigator. From here you can work on your current thread by selecting a card and performing several actions from it. 
    See Branches allows you to make all the links that start from the selected card appear on the Branch Navigator. 
    Add Subthread allows you to start a subthread from the selected card, that will appear in the Branch Navigator.
    Go to Parent allows you to go to the parent thread of the current thread.
    New Card to Right allows you to create a new card and make your thread longer.

    %h5
    %h5 Branch Navigator
    The third stripe on your Dashboard is the Branch Navigator. From here you can see all the neighbours of the current thread, as well as the neighbours from the specific notes on the thread.
    All Thread Branches allows you to see all the branches that start from a thread, as opposed to See Branches that only shows you the branches from a specific card.
    Remove Link allows you to remove a link between a card on the thread and the selected card on the Branch Navigator.

    %h5
    %h5 General Actions
    The General Actions at the bottom of the page show you the actions that are available for every card, as opposed to the stripe-specific buttons.
    Edit/Delete allow you to modify your cards.
    Go to Thread makes the thread of the current card appear on the Thread Navigator
    Start Link From makes the system go in Linking Mode. A button called Undo Linking Mode should have now appeared, and the previous button should have now changed to Land Link To. Once the mode is on, you can select another card and land the unidirectional link.


    



