-# references/ new.html.haml
-# Creating new references 
-# render form from references/_form.html.haml

.card.pb-2.px-2
  .card-body
    %h3.card-title.text-center.mb-3 New Reference
    = render 'form'